*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%; 
}
#page1{
    min-height: 100vh;
    width: 100%;
    /* padding: 60px; */
/* background-color: aquamarine; */

}
#nav {
    position: sticky;
}
nav h5{
    opacity: 0;
}

nav svg{
    z-index: 2;
    top: 60px;
    fill: black;
    scale: .9;
    position:fixed;
}
/* svg{
    margin-top: 10px;
    position: fixed;
} */
/* #page1-img{
    position: relative;
    height: 190vh;
    width: 100%;
    /* background-color: red; */
    /* display: flex;
align-items: center;
justify-content: center; */


#page1-img{
    z-index: -1;

    position: relative;
    /* top: 30%; */
    left: 50%;
    transform: translate(-50%, 30%);
    height: 190vh;
    /* background-color: red; */
    width: 65%;
    background-image: url("https://media.gucci.com/dynamic/b3c8/hj0zGAzYfmKA5b+KMGgjOzBOqftbqLgl3Ikj+op4yC3i8u28c5adixKclXHOawWXzHh019bgDQKmIqHq8GLu9tU6Qdj3+FaNqIE+9_41B+ymtpnzVeT_W86nlHzroDCMpXQIt4CQC2Dh_wrhugRt+IpFEnyeF4I5uCN97mYf0FZp0t1OwTX_3ZvCYc1FeVybpdAHsyQPRuuwJpED4qjr8_PYunOtb3sUW9bNenkpWaZMBQSx5895Mx_zO3APDzXlpn1lqExvGIqBICl1Z3+hIeL4NYUX63pjRKLWlsfRSTk=/Gucci_Desktop_Routing_2UP_GQJannik-2-July23_3x4.png");
    background-size: cover;
}

#nav{
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;align-items: center;
    justify-content: space-between;
}
#nav h5{
    padding: 0 80px;
    font-size: 15px;
    font-weight: 100;
    text-decoration: underline;
}
#itag{
    font-size: 20px;
    display: flex;align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    gap: 30px;
}